<!DOCTYPE html>
<html>
<head>
<title>BYD</title>

<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../css/AdminLTE.min.css">
<link rel="stylesheet" href="../../css/all-skins.min.css">
<link rel="stylesheet" href="../../plugins/daterangepicker/daterangepicker.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../plugins/daterangepicker/moment.min.js"></script>
<script src="../../plugins/daterangepicker/daterangepicker.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../js/common2.js"></script>
<style type="text/css">
.listBox {
	margin: 10px;
}

.listBox .content {
	padding: 0;
	min-height:10px;
}

.listBox .content  .desc {
	display: block;
	height: 23px;
	overflow: hidden;
}

.listBox>div>.row, .listBox .h-0 .row {
	margin: 0;
}

.listBox>div>.row:first-child {
	text-align: center;
	line-height: 40px;
}

.listBox>div {
	border: 1px solid #444;
	border-bottom: none;
}

.listBox [class*="col-md-"] {
	border-right: 1px solid #444;
	border-bottom: 1px solid #444;
}

.listBox [class*="col-md-"]:last-child {
	border-right: none;
}

.h-1>div {
	height: 40px;
}

/* .h-2>div {
	min-height: 215px;
} 

.h-2>div:first-child {
	line-height: 200px;
}*/

.h-3>div {
	min-height: 55px;
}

.content  .cont {
	display: none;
}

.listBox .full .desc {
	display: none;
}

.listBox .full .cont {
	display: block;
}

.w-1>div:nth-child(1), .w-1>div:nth-child(3), .w-1>div:nth-child(4) {
	width: 18.2%;
}

.w-1>div:nth-child(7) {
	width: 18.1%;
	line-height: 40px;
	text-align: center;
}

.w-1>div:nth-child(4), .w-1>div:nth-child(5), .w-1>div:nth-child(6) {
	line-height: 40px;
}

.w-1>div:nth-child(2), .w-1>div:nth-child(5), .w-1>div:nth-child(6) {
	width: 9.1%;
}

.w-2>div:nth-child(1) {
	width: 81.9%;
}

.w-2>div:nth-child(2) {
	width: 18.1%;
	text-align: center;
}

.w-2>div:nth-child(2) button {
	position: absolute;
	top: 48%;
	left: 50%;
	margin-left: -20px;
}

.listBox>div>.row, .listBox .h-0 .row:last-child [class*='col-md-'] {
	border-bottom: none;
}
</style>
</head>
<body>
	<section class="content" id="rrapp" v-cloak>
	<div v-show="showList" >
		<form class="form-horizontal">
			<div class="box-body">
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-1 control-label">时间：</label>
					<div class="col-sm-4">
						<div class="btn-group">
							<button type="button" class="btn btn-info">7天</button>
							<button type="button" class="btn btn-info">30天</button>
							<button type="button" class="btn btn-info" id="daterange-btn">
								<span>自定义</span> <i class="fa fa-caret-down"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-1 control-label">平台：</label>
					<div class="col-sm-4">
						<div class="btn-group">
							<button type="button" class="btn btn-info">爱卡</button>
							<button type="button" class="btn btn-info">汽车之家</button>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-1 control-label">来源：</label>
					<div class="col-sm-4">
						<div class="btn-group">
							<button type="button" class="btn btn-info">论坛</button>
							<button type="button" class="btn btn-info">口碑</button>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword3" class="col-sm-1 control-label">品牌：</label>
					<div class="col-sm-2">
						<select class="form-control">
							<option>全部</option>
						</select>
					</div>
					<label for="inputPassword3" class="col-sm-1 control-label">车系：</label>
					<div class="col-sm-2">
						<select class="form-control">
							<option>全部</option>
						</select>
					</div>
				</div>
			</div>
		</form>
		<div class="listBox">

			<div class="table  table-sdiviped">

				<div class="row h-1">
					<div class="col-md-1">ID</div>
					<div class="col-md-2">原文</div>
					<div class="col-md-1">车系</div>
					<div class="col-md-2">维度</div>
					<div class="col-md-2">情感</div>
					<div class="col-md-1">句式</div>
					<div class="col-md-1">场景</div>
					<div class="col-md-2">操作</div>
				</div>
				<variant-item :item="item" :index="index" v-for="(item,index) in superviseList"></variant-item>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5">
				<div class="dataTables_info" id="example1_info" role="status" aria-live="polite">总计：57条记录</div>
			</div>
			<div class="col-sm-7">
				<div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
					<ul class="pagination">
						<li class="paginate_button previous disabled" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0">上一页</a></li>
						<li class="paginate_button active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0">1</a></li>
						<li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0">2</a></li>
						<li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0">3</a></li>
						<li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0">4</a></li>
						<li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0">5</a></li>
						<li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0">6</a></li>
						<li class="paginate_button next" id="example1_next"><a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0">下一页</a></li>
					</ul>
				</div>
			</div>
		</div>
		</div>
		<div v-show="!showList" class="panel panel-default">
			<div class="panel-heading">{{title}}</div>
			<form class="form-horizontal" style="padding:10px;">
				<br/>
				<div class="form-group">
					<div class="col-sm-1 control-label">原文</div>
					<div class="col-sm-11">
						<textarea class="form-control" rows="4"  placeholder="原文" ></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-1 control-label">观点</div>
					<div class="col-sm-11">
						<textarea class="form-control" rows="1"  placeholder="观点,必填" ></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-1 control-label">品牌</div>
					<div class="col-sm-2">
						<input type="text" class="form-control"  placeholder="品牌" />
					</div>
					<div class="col-sm-1 control-label">系列</div>
					<div class="col-sm-2">
						<input type="text" class="form-control"  placeholder="系列" />
					</div>
					<div class="col-sm-1 control-label">型号</div>
					<div class="col-sm-2">
						<input type="text" class="form-control"  placeholder="型号" />
					</div>
					<div class="col-sm-1 control-label">别名</div>
					<div class="col-sm-2">
						<input type="text" class="form-control"  placeholder="别名" />
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-1 control-label">一级维度</div>
					<div class="col-sm-2">
						<input type="text" class="form-control"  placeholder="一级维度" />
					</div>
					<div class="col-sm-1 control-label">二级维度</div>
					<div class="col-sm-2">
						<input type="text" class="form-control"  placeholder="二级维度" />
					</div>
					<div class="col-sm-1 control-label">三级维度</div>
					<div class="col-sm-2">
						<input type="text" class="form-control"  placeholder="三级维度" />
					</div>
					<div class="col-sm-1 control-label">四级维度</div>
					<div class="col-sm-2">
						<input type="text" class="form-control"  placeholder="四级维度" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-1 control-label">维度描述</div>
					<div class="col-sm-5">
						<textarea class="form-control"   placeholder="情感描述" ></textarea>
					</div>
					<div class="col-sm-1 control-label">维度属性</div>
					<div class="col-sm-2">
						<input type="text" class="form-control"  placeholder="维度属性" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-1 control-label">情感</div>
					<div class="col-sm-2">
						<input type="text" class="form-control"  placeholder="情感" />
					</div>
					<div class="col-sm-1 control-label">极性值</div>
					<div class="col-sm-2">
						<input type="text" class="form-control"  placeholder="极性值" />
					</div>
					<div class="col-sm-1 control-label">情感词</div>
					<div class="col-sm-2">
						<input type="text" class="form-control"  placeholder="情感词" />
					</div>
					<div class="col-sm-1 control-label">情感属性</div>
					<div class="col-sm-2">
						<input type="text" class="form-control"  placeholder="情感属性" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-1 control-label">情感描述</div>
					<div class="col-sm-5">
						<textarea class="form-control"   placeholder="情感描述" ></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-1 control-label">句式分类</div>
					<div class="col-sm-2">
						<input type="text" class="form-control"  placeholder="句式分类" />
					</div>
					<div class="col-sm-1 control-label">饱和度</div>
					<div class="col-sm-2">
						<input type="text" class="form-control"  placeholder="饱和度" />
					</div>
					<div class="col-sm-1 control-label">关键词</div>
					<div class="col-sm-2">
						<input type="text" class="form-control"  placeholder="关键词" />
					</div>
					<div class="col-sm-1 control-label">句式模式</div>
					<div class="col-sm-2">
						<input type="text" class="form-control"  placeholder="句式模式" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-1 control-label">场景分类</div>
					<div class="col-sm-2">
						<input type="text" class="form-control"  placeholder="场景分类" />
					</div>
					<div class="col-sm-1 control-label">购车场景</div>
					<div class="col-sm-2">
						<input type="text" class="form-control"  placeholder="购车场景" />
					</div>
					<div class="col-sm-1 control-label">关键词</div>
					<div class="col-sm-2">
						<input type="text" class="form-control"  placeholder="关键词" />
					</div>
					<div class="col-sm-1 control-label">句式模式</div>
					<div class="col-sm-2">
						<input type="text" class="form-control"  placeholder="句式模式" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-5 control-label"></div>
					<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定" /> &nbsp;&nbsp; <input type="button" class="btn btn-warning" @click="reload" value="返回" />
				</div>
			</form>
		</div>
	</div>
	</section>
	<script type="text/javascript">
	$(function() {
        
        
        setTimeout(function(){var height3 = $('.h-3').height();
        var height0 = $('.h-0').height();$('.h-3>div:last-child').height(height3 - 1);
        $('.h-0').siblings().height(height0).css('line-height',height0+'px');}, 10)
        

        $(".listBox").delegate("a.pull-right","click",function(e){

            if ($(this).parent().hasClass('full')) {

                $(this).parent().removeClass('full');
                $(this).find('i').removeClass('glyphicon-triangle-top').addClass('glyphicon-triangle-bottom');
                $(this).find('span').text('展开');

                var $this=$(this);
                setTimeout(function() {
                    var Parent3=$this.parent();
                    var Parent2=$this.parent().parent().parent();

                    var height3 = Parent3.height();
                    Parent3.siblings().height(height3 - 1);
                    setTimeout(function(){
                        var height0 = Parent2.height();
                        Parent2.siblings().height(height0).css('line-height', height0 + 'px');
                    })
                }, 0);
            } else {

                $(this).parent().addClass('full');
                $(this).find('i').removeClass('glyphicon-triangle-bottom');
                $(this).find('i').addClass('glyphicon-triangle-top');
                $(this).find('span').text('收起');
                var $this=$(this);
                setTimeout(function() {
                    var Parent1=$this.parent().parent();
                    var Parent2=$this.parent().parent().parent();

                    var height3 = Parent1.height();
                    var height0 = Parent2.height();
                   
                    Parent2.siblings().height(height0).css('line-height', height0 + 'px');
                    Parent1.children('div:last-child').height(height3 - 1);
                }, 0);

            }
            e.preventDefault();
        })
    })
	</script>
	<script src="../../js/modules/biz/supervise.js"></script>
</body>
</html>